<div class="fragment_1">
	<div class="main-menu-container">
        <div class="menu-item active-item">
            Wealth Management
        </div>
        <div class="items-container">
            <div class="menu-item">
                <a href="#">
                    Pillar
                </a>
            </div>
            <div class="menu-item">
                <a href="#">
                    Wealth Management
                </a>
            </div>
            <div class="menu-item">
                <a href="#">
                    Life Bank
                </a>
            </div>
        </div>
    </div>
</div>